#include "Secrets.xcconfig"
GCC_PREPROCESSOR_DEFINITIONS = $(inherited)
MARGUERITE_REALTIME_XML_FEED=@\"$(MARGUERITE_REALTIME_XML_FEED)\" 
MARGUERITE_VEHICLE_IDS_URL=@\"$(MARGUERITE_VEHICLE_IDS_URL)\"
GOOGLE_MAPS_API_KEY=@\"$(GOOGLE_MAPS_API_KEY)\" 
MARGUERITE_TRANSIT_DATA_URL=@\"$(MARGUERITE_TRANSIT_DATA_URL)\"

